.header {
  background-color: #1877F2;
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto;
  color: #ffffff;
  padding: 0 18px;
  position: relative;
  z-index: 10;
}

.header__logo {
  font: {
    size: 22px;
  };
  letter-spacing: 2px;
}

.header__stats {
  text-align: center;
  font: {
    size: 18px;
  };
}
