@import "assets/styles/normalize";

body {
  font: {
    family: Arial, sans-serif;
    size: 14px;
  };
  background-color: #F7FBFF;
}

.btn {
  background-color: #1877F2;
  color: #ffffff;
  height: 35px;
  border-radius: 5px;
  padding: 0 12px;

  &[disabled] {
    opacity: 0.6;
    cursor: no-drop;
  }
}
